@model ECommerce.Models.DonHang

@{ ViewData["Title"] = "Cart";
    Layout = "~/Areas/Users/Views/_Layout.cshtml"; }
<div id="page-content" class="single-page">
    <div class="container">
        @if (ViewBag.Cart.Count > 0)
        {
            decimal total = 0;
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        Tổng Sản Phẩm : @ViewBag.Cart.Count
                    </ul>
                </div>
            </div>
            @foreach (var item in ViewBag.Cart)
            {
                var thanhtien = item.Quantity * item.SanPham.DonGia;
                total += thanhtien;
                <div class="row">
                    <div class="product well">
                        <div class="col-md-3">
                            <div class="image">
                                <img src="~/image/@item.SanPham.HinhAnh">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="caption">
                                <div class="name"><h3>Tên Sản Phẩm: <a href="#">@item.SanPham.TenSP</a></h3></div>
                                <div class="price">Giá Tiền: @item.SanPham.DonGia</div>
                                <label>Số Lượng: </label> <input class="form-inline quantity" type="text" value="@item.Quantity">
                            </div>
                            @*<a class="btn btn-danger pull-left" asp-controller="cart" asp-action="remove" asp-route-id="@item.SanPham.MaSP">Remove</a>*@
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <form asp-action="Create">
                        <div class="heading"><h2>Điền Thông Tin Giao Hàng</h2></div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="TenKH" class="control-label"></label>
                            <input asp-for="TenKH" class="form-control" />
                            <span asp-validation-for="TenKH" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiaChiNhan" class="control-label"></label>
                            <input asp-for="DiaChiNhan" class="form-control" />
                            <span asp-validation-for="DiaChiNhan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SoDienThoai" class="control-label"></label>
                            <input asp-for="SoDienThoai" class="form-control" />
                            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GhiChuDH" class="control-label"></label>
                            <input asp-for="GhiChuDH" class="form-control" />
                            <span asp-validation-for="GhiChuDH" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhiShip.TenPhiShip" class="control-label"></label>
                            <select asp-for="PhiShip.TenPhiShip" class="form-control" asp-items="ViewBag.TenPhiShip"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đặt Hàng" class="btn btn-1" />
                            <button style="text-align:right;" asp-area="Users" asp-controller="SanPham" asp-action="Index" class="btn btn-1">Quay Lại</button>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <p class="alert alert-danger">Giỏ hàng trống</p>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
