@model SanPham
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Users/Views/_Layout.cshtml";
}


<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="~/image/@Model.HinhAnh" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h2>@Model.TenSP</h2></div>
                            <div class="info">
                                <ul>
                                    <li>Thương hiệu: @Model.ThuongHieu.TenTH</li>

                                </ul>
                            </div>
                            <div class="price">@Model.DonGia</div>
                            <div class="options">
                                Lựa Chọn màu sắc
                                <select>
                                    <option value="" selected>Mời Chọn Màu</option>
                                    <option value="red">Đỏ</option>
                                    <option value="black">Đen</option>
                                </select>
                            </div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            <div class="well"><label>Số Lượng: </label> <input class="form-inline quantity" type="text" value="1"><a asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.MaSP" class="btn btn-2 ">Thêm Vào Giỏ</a></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">Thông Tin Chi Tiết Sản Phẩm</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <h4>@Model.TenSP</h4>
                            <p>
                                @Model.ChiTietSP
                            </p>
                            <img src="~/image/@Model.HinhAnh" />

                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-categories">
                    <div class="heading"><h4>Danh Mục</h4></div>
                    <div class="content">
                        <ul>
                            <li><a >TABLET</a></li>
                            <li><a >ĐIỆN THOẠI</a></li>
                            <li><a >PHỤ KIỆN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget wid-product">
                    <div class="heading"><h4>Sản Phẩm Tương Tự</h4></div>
                    <div class="content">
                        <div class="product">
                            <a href="#"><img src="~/image/iphone se.png" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Iphone SE</a></h5>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/image/vivo20.png" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Vivo 20</a></h5>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/image/iphoneXs.png" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Iphone XS</a></h5>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>