@model IEnumerable<ECommerce.Models.SanPham>
@{
    ViewData["Title"] = "SearchPrice";
    Layout = "~/Areas/Users/Views/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <table class="table">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading"><h2>SẢN PHẨM :</h2></div>
                    <div class="products">
                        @using (Html.BeginForm("SearchPrice", "SanPham", FormMethod.Get))
                        {
                            <p>
                                 @Html.TextBox("NameProduct") - @Html.TextBox("Price1") - @Html.TextBox("Price2")
                                <input type="submit" value="Tìm kiếm" />
                            </p>
                        }
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="product">
                                    <div class="image">
                                        <a asp-controller="Sanpham" asp-action="Details" asp-route-id="@item.MaSP"
                                           asp-route-name="@item.TenSP"><img class="img-edit" src="~/image/@item.HinhAnh" /></a>
                                    </div>
                                    <div class="buttons">
                                        <a class="btn cart" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.MaSP"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    </div>
                                    <div class="caption">
                                        <div class="name"><h3>@item.TenSP</h3></div>
                                        <div class="price">@item.DonGia</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>