@model IEnumerable<ECommerce.Models.PhiShip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhiShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhiShip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaShip">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaShip">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaShip">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
